parameters:
	ignoreErrors:
		-
			message: '#in iterable type array#'
			path: %currentWorkingDirectory%/src
		-
			message: '#class ReflectionClass but does not specify its types#'
			path: %currentWorkingDirectory%/src
		-
			message: '#setAttributeValue#'
			path: %currentWorkingDirectory%/src/Symfony/Extensions/PropertyNormalizerWrapper.php
